<div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="swiper__content">
                    <h3 class="swiper__title">Agatha Christie facts and why you should pick this very
                        book and the author</h3>
                    <ul class="swiper__list">
                        <li class="swiper__item">
                            <p class="swiper__fact">1. She wrote her first detective novel, The
                                Mysterious Affair at Styles, after a bet with her sister, Madge,
                                which was a huge success only after 6 rejections from various
                                publishers.</p>
                        </li>
                        <li class="swiper__item">
                            <p class="swiper__fact">2. Twice in her life she ‘saw’ Hercule Poirot -
                                once
                                lunching in the Savoy and once on a boat in the Canary Islands,
                                meaning that her famous character and the main character in the book
                                you are going to read was a real person.</p>
                        </li>
                        <li class="swiper__item">
                            <p class="swiper__fact">3. Agatha Christie’s name has appeared every day
                                for the last 53 years in every newspaper with a West End theatre
                                listing. Apart from during lockdown in 2020! Such a worldwide
                                fame!</p>
                        </li>
                        <li class="swiper__item">
                            <p class="swiper__fact">4. In her early years she didn’t go to school but
                                was educated by her mother and a succession of governesses and her
                                parents didn’t let her read until she turns 8, thanks to her sister
                                she learned how to read at 4 and never stopped.</p>
                        </li>
                    </ul>
                </div>
                <div class="closer icon-cancel-circled"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper__content">
                    <h3 class="swiper__title">Agatha Christie facts and why you should pick this very
                        book and the author</h3>
                    <ul class="swiper__list">
                        <li class="swiper__item">
                            <p class="swiper__fact">5. As a child, Christie loved the lavish feasts
                                that were prepared at Christmas. She would engage in eating contests
                                with a friend and never get sick. She loved everything but the oyster
                                soup, and the food helped inspire her story "The Adventure of the
                                Christmas Pudding."</p>
                        </li>
                        <li class="swiper__item">
                            <p class="swiper__fact">6. In her late teens she studied in Paris to be a
                                classical musician but was too nervous to perform. Relatable
                                Queen!</p>
                        </li>
                        <li class="swiper__item">
                            <p class="swiper__fact">7. She suffered from seasickness – as does
                                Poirot. (our main character)</p>
                        </li>
                        <li class="swiper__item">
                            <p class="swiper__fact">8. She is credited with being the first Western
                                woman to stand up on a surf board. This happened when she visited
                                South Africa and then Hawaii in 1922.</p>
                        </li>
                    </ul>
                </div>
                <div class="closer icon-cancel-circled"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper__content">
                    <h3 class="swiper__title">Agatha Christie facts and why you should pick this very
                        book and the author</h3>
                    <ul class="swiper__list">
                        <li class="swiper__item">
                            <p class="swiper__fact">9. Room 411 at the Pera Palace Hotel in Istanbul
                                is dedicated to Christie. She is said to have written part of Murder
                                on the Orient Express there. The room has pictures of her and many
                                copies of her books.</p>
                        </li>
                        <li class="swiper__item">
                            <p class="swiper__fact">10. She was a dog lover. Her first dog was a
                                Yorkshire Terrier puppy which she received as a fifth birthday
                                present. She was so overwhelmed with happiness that she couldn't even
                                say "thank you" and retreated to the lavatory to get her thoughts
                                together. The dog was named Tony– although his full name was George
                                Washington.</p>
                        </li>
                        <li class="swiper__item">
                            <p class="swiper__fact">11. Her favourite colour was green.</p>
                        </li>
                        <li class="swiper__item">
                            <p class="swiper__fact">12. Fiercest dislike: the taste and smell of hot
                                milk.”</p>
                        </li>
                    </ul>
                </div>
                <div class="closer icon-cancel-circled"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper__content">
                    <h3 class="swiper__title">Agatha Christie facts and why you should pick this very
                        book and the author</h3>
                    <ul class="swiper__list">
                        <li class="swiper__item">
                            <p class="swiper__fact">13. Christie was once surprised by a letter from
                                a woman she'd never met who asked Christie to adopt her! Christie was
                                embarrassed and tried to decline as politely as possible. That’s
                                where probably the stan culture was born.</p>
                        </li>
                        <li class="swiper__item">
                            <p class="swiper__fact">14. The two things that excited her most in life
                                were her car – the “grey bottle-nosed” Morris Cowley. The second was
                                dining with the Queen at Buckingham Palace. Such a girlboss!</p>
                        </li>
                        <li class="swiper__item">
                            <p class="swiper__fact">15. With more than 2 billion books published, she
                                is outsold only by the Bible and Shakespeare.</p>
                        </li>
                        <li class="swiper__item">
                            <p class="swiper__fact">16. Her books have been published in over 100
                                languages, making her the most translated writer of all time.</p>
                        </li>
                    </ul>
                </div>
                <div class="closer icon-cancel-circled"></div>
            </div>
            <div class="swiper-slide">
                <div class="swiper__content swiper__content-center">
                    <h3 class="swiper__title">Take a quiz about Agatha Christie online</h3>
                    <ul class="swiper__list">
                        <li class="swiper__item">
                            <a class="swiper__linkAc" href="https://www.theguardian.com/books/quiz/2009/sep/14/agatha-christie-quiz" target="_blank">Quiz</a>
                        </li>
                    </ul>
                </div>
                <div class="closer icon-cancel-circled"></div>
            </div>

        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>