{% extends "base.html" %}
{% block content %}
<section class="full-screen">
    <div class="full-screen__body">
        <div class="full-screen__title">Murder on the Orient Express</div>
        <div class="full-screen__text">Agatha Christie</div>
    </div>
    <video autoplay muted loop preload="auto" class="full-screen__video">
        <source type="video/mp4" src="../static/video/train.mp4">
    </video>
</section>

<div class="timeline-container">
    <div class="timeline">
        <ul>
            <li class="timeline__item _anim-items _anim_show__timeline_left _anim-no-hide">
                <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>Heading 1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora
                        ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem
                        labore.</p>
                </div>
            </li>
            <li class="timeline__item _anim-items _anim_show__timeline_right _anim-no-hide">
                <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>Heading 2</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora
                        ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem
                        labore.</p>
                </div>
            </li>
            <li class="timeline__item _anim-items _anim_show__timeline_left _anim-no-hide">
                <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>Heading 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora
                        ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem
                        labore.</p>
                </div>
            </li>
            <li class="timeline__item _anim-items _anim_show__timeline_right _anim-no-hide">
                <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>Heading 4</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora
                        ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem
                        labore.</p>
                </div>
            </li>
            <li class="timeline__item _anim-items _anim_show__timeline_left _anim-no-hide">
                <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>Heading 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora
                        ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem
                        labore.</p>
                </div>
            </li>
            <li class="timeline__item _anim-items _anim_show__timeline_right _anim-no-hide">
                <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>Heading 4</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora
                        ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem
                        labore.</p>
                </div>
            </li>
            <li class="timeline__item _anim-items _anim_show__timeline_left _anim-no-hide">
                <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>Heading 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora
                        ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem
                        labore.</p>
                </div>
            </li>
            <li class="timeline__item _anim-items _anim_show__timeline_right _anim-no-hide">
                <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>Heading 4</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora
                        ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem
                        labore.</p>
                </div>
            </li>
            <li class="timeline__item _anim-items _anim_show__timeline_left _anim-no-hide">
                <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>Heading 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora
                        ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem
                        labore.</p>
                </div>
            </li>
            <li class="timeline__item _anim-items _anim_show__timeline_right _anim-no-hide">
                <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>Heading 4</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora
                        ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem
                        labore.</p>
                </div>
            </li>
            <li class="timeline__item _anim-items _anim_show__timeline_left _anim-no-hide">
                <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>Heading 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora
                        ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem
                        labore.</p>
                </div>
            </li>
            <li class="timeline__item _anim-items _anim_show__timeline_right _anim-no-hide">
                <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>Heading 4</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora
                        ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem
                        labore.</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<section class="read">
    <div class="read__container">
        <a href="/book" class="read_btn">Start Reading</a>
    </div>
</section>

{% endblock %}