<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide swiper-slide-poirot">
            <div class="swiper__content">
                <h3 class="swiper__title">“Only some damned foreigner.”</h3>
                <ul class="swiper__list">
                    <li class="swiper__item">
                        <p class="swiper__fact">Poirot - an arrogant Belgian detective, he has an
                            obsessive-compulsive disorder which means repeated unwanted thoughts or
                            sensations (obsessions) or the urge to do something over and over again
                            (compulsions). he finds it "really insupportable that every hen lays an
                            egg of a different size! What symmetry can there be on the breakfast
                            table?" He’s also known to have refused to eat an irregularly shaped loaf
                            of bread. Poirot’s moustache was so important that Agatha Christie was
                            asked to approve its appearance in the 1965 comedy mystery film The
                            Alphabet Murders. Poirot thinks decaff coffee is an abomination. </p>
                    </li>
                </ul>
            </div>
            <div class="closer icon-cancel-circled"></div>
        </div>

    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>