{% extends "base.html" %}

{% block content %}

<div class="register_form form">
    <div class="register_form__content form__content">
        <div class="register_form__title form__title">
            <h1>Registration</h1>
        </div>
        <div class="register_form__form form_form">
            <form action="" method="post" class="">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.name(class="form-input", placeholder="Username", autocomplete="off") }}<br>
                    {% for error in form.name.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password(class="form-input", placeholder="Pasword", type="password", autocomplete="off") }}<br>
                    {% for error in form.password.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password_again(class="form-input", placeholder="Remember password", type="password", autocomplete="off") }}<br>
                    {% for error in form.password_again.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p>{{ form.submit(type="submit", class="custom-btn") }}</p>
                <a class="account" href="/login">Already have an account?</a> <br>
                <span class="error-message" >{{message}}</span>
            </form>
        </div>
    </div>
</div>
{% endblock %}