<div className="timeline-container">
    <div className="timeline">
        <ul>
            <li className="timeline__item _anim-items _anim_show__timeline_left _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 1</h1>
                    <p>She wrote her first detective novel, The Mysterious Affair at Styles, after a
                        bet with her sister, Madge, which was a huge success only after 6 rejections
                        from various publishers.</p>
                </div>
            </li>
            <li className="timeline__item _anim-items _anim_show__timeline_right _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 2</h1>
                    <p>Twice in her life she ‘saw’ Hercule Poirot - once lunching in the Savoy and
                        once on a boat in the Canary Islands, meaning that her famous character and
                        the main character in the book you are going to read was a real person.</p>
                </div>
            </li>
            <li className="timeline__item _anim-items _anim_show__timeline_left _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 3</h1>
                    <p>Agatha Christie’s name has appeared every day for the last 53 years in every
                        newspaper with a West End theatre listing. Apart from during lockdown in
                        2020! Such a worldwide fame!</p>
                </div>
            </li>
            <li className="timeline__item _anim-items _anim_show__timeline_right _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 4</h1>
                    <p>In her early years she didn’t go to school but was educated by her mother and
                        a succession of governesses and her parents didn’t let her read until she
                        turns 8, thanks to her sister she learned how to read at 4 and never
                        stopped.</p>
                </div>
            </li>
            <li className="timeline__item _anim-items _anim_show__timeline_left _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 3</h1>
                    <p>As a child, Christie loved the lavish feasts that were prepared at Christmas.
                        She would engage in eating contests with a friend and never get sick. She
                        loved everything but the oyster soup, and the food helped inspire her story
                        "The Adventure of the Christmas Pudding."</p>
                </div>
            </li>
            <li className="timeline__item _anim-items _anim_show__timeline_right _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 4</h1>
                    <p>In her late teens she studied in Paris to be a classical musician but was too
                        nervous to perform. Relatable Queen!</p>
                </div>
            </li>
            <li className="timeline__item _anim-items _anim_show__timeline_left _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 3</h1>
                    <p>She suffered from seasickness – as does Poirot. (our main character)</p>
                </div>
            </li>
            <li className="timeline__item _anim-items _anim_show__timeline_right _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 4</h1>
                    <p>She is credited with being the first Western woman to stand up on a surf
                        board. This happened when she visited South Africa and then Hawaii in
                        1922.</p>
                </div>
            </li>
            <li className="timeline__item _anim-items _anim_show__timeline_left _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 3</h1>
                    <p>Room 411 at the Pera Palace Hotel in Istanbul is dedicated to Christie. She is
                        said to have written part of Murder on the Orient Express there. The room has
                        pictures of her and many copies of her books.</p>
                </div>
            </li>
            <li className="timeline__item _anim-items _anim_show__timeline_right _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 4</h1>
                    <p>She was a dog lover. Her first dog was a Yorkshire Terrier puppy which she
                        received as a fifth birthday present. She was so overwhelmed with happiness
                        that she couldn't even say "thank you" and retreated to the lavatory to get
                        her thoughts together. The dog was named Tony– although his full name was
                        George Washington.</p>
                </div>
            </li>
            <li className="timeline__item _anim-items _anim_show__timeline_left _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 3</h1>
                    <p>Her favourite colour was green.</p>
                </div>
            </li>
            <li className="timeline__item _anim-items _anim_show__timeline_right _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 4</h1>
                    <p>Fiercest dislike: the taste and smell of hot milk.</p>
                </div>
            </li>
            <li className="timeline__item _anim-items _anim_show__timeline_left _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 4</h1>
                    <p>Christie was once surprised by a letter from a woman she'd never met who asked
                        Christie to adopt her! Christie was embarrassed and tried to decline as
                        politely as possible. That’s where probably the stan culture was born</p>
                </div>
            </li>
            <li className="timeline__item _anim-items _anim_show__timeline_right _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 4</h1>
                    <p>The two things that excited her most in life were her car – the “grey
                        bottle-nosed” Morris Cowley. The second was dining with the Queen at
                        Buckingham Palace. Such a girlboss!</p>
                </div>
            </li>
            <li className="timeline__item _anim-items _anim_show__timeline_left _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 4</h1>
                    <p>With more than 2 billion books published, she is outsold only by the Bible and
                        Shakespeare.</p>
                </div>
            </li>
            <li className="timeline__item _anim-items _anim_show__timeline_right _anim-no-hide">
                <div className="timeline-content">
                    <h3 className="date">20th may, 2010</h3>
                    <h1>Heading 4</h1>
                    <p>Her books have been published in over 100 languages, making her the most
                        translated writer of all time.</p>
                </div>
            </li>
        </ul>
    </div>
</div>