<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide swiper-slide-large">
            <div class="swiper__content swiper__content-large">
                <h3 class="swiper__title">The place where the train stopped</h3>
                <ul class="swiper__list">
                    <li class="swiper__item">
                        <img src="../static/img/alps.jpg" alt="alps" id="yourImage">
                    </li>
                </ul>
            </div>
            <div class="closer icon-cancel-circled"></div>
        </div>
        <div class="swiper-slide swiper-slide-large">
            <div class="swiper__content swiper__content-large">
                <h3 class="swiper__title">Threat letter</h3>
                <ul class="swiper__list">
                    <li class="swiper__item">
                        <img src="../static/img/zapis2.jpg" alt="alps">
                    </li>
                </ul>
            </div>
            <div class="closer icon-cancel-circled"></div>
        </div>
        <div class="swiper-slide swiper-slide-large swiper-train" style="height: 830px !important;">
            <div class="swiper__content swiper__content-large">
                <h3 class="swiper__title">The layout of the people in the Orient Express</h3>
                <ul class="swiper__list">
                    <li class="swiper__item">
                        <img src="../static/img/schema.jpg" alt="alps">
                    </li>
                </ul>
            </div>
            <div class="closer icon-cancel-circled"></div>
        </div>
        <div class="swiper-slide swiper-slide-large">
                <div class="swiper__content swiper__content-center">
                    <h3 class="swiper__title">Who is the murderer? Make your own guess</h3>
                    <ul class="swiper__list">
                        <li class="swiper__item">
                            <a class="swiper__linkAc" href="https://docs.google.com/forms/d/e/1FAIpQLScx5-LRjOn6_2Oqox6i5m0XCz9qXtfRyICYQak0Aj49AZX6Cw/viewform?usp=sf_link" target="_blank">To make a guess</a>
                        </li>
                    </ul>
                </div>
                <div class="closer icon-cancel-circled"></div>
            </div>

    </div>
</div>