<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide swiper-slide-large">
            <div class="swiper__content swiper__content-large">
                <h3 class="swiper__title">Threat letter</h3>
                <ul class="swiper__list">
                    <li class="swiper__item">
                        <img src="../static/img/zapis2.jpg" alt="zapiska">
                    </li>
                </ul>
            </div>
            <div class="closer icon-cancel-circled"></div>
        </div>

    </div>
</div>

<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="swiper__content swiper__content-center">
                <h3 class="swiper__title">Task</h3>
                <ul class="swiper__list">
                    <li class="swiper__item">
                        <a class="swiper__linkAc"
                           href="https://www.fbi.gov/history/famous-cases/lindbergh-kidnapping"
                           target="_blank">Task</a>
                    </li>
                    <li class="swiper__item">
                        <a class="swiper__linkAc"
                           href="https://www.youtube.com/watch?app=desktop&v=8M6y8vXisiI"
                           target="_blank">Video</a>
                    </li>
                </ul>
            </div>
            <div class="closer icon-cancel-circled"></div>
        </div>
    </div>
</div>