<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide swiper-slide-large">
            <div class="swiper__content swiper__content-large">
                <h3 class="swiper__title">Threat letter</h3>
                <ul class="swiper__list">
                    <li class="swiper__item">
                        <img src="../static/img/zapis2.jpg" alt="zapiska">
                    </li>
                </ul>
            </div>
            <div class="closer icon-cancel-circled"></div>
        </div>

    </div>
</div>